@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio Dot Net</h1>
    <p>Feito por Judite em ASP.NET Core com MVC e acessando a API de Filmes - TMDB</a>.</p>
</div>
